@charset "UTF-8";

@font-face {
  font-family: "btxbt";
  src: url("btxbt.woff2") format("woff2"),
       url("btxbt.woff") format("woff"),
       url("btxbt.ttf") format("truetype"),
       url("btxbt.eot") format("embedded-opentype"),
       url("btxbt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}